#mediaqueries-01 {
  .h1 {
    font-size: 14px;
    @media (min-width: 900px) {
      font-size: 30px;
      font-weight: 700;
      border-left: 4px solid orange;
      padding-left: 10px;
    }
  }
  .p {
    font-size: 10px;
    @media (min-width: 900px) {
      font-size: 25px;
    }
  }
}

#mediaqueries-02 {
  display: flex;
  .media {
    height: 50px;
    background-color: beige;
    width: 100%;
    padding: 20px 0 0 20px;
    border: 1px solid orange;
    @media (min-width: 900px) {
      width: calc(100% / 3);
    }
  }
}

#mediaqueries-03 {
  text-align: center;
  .menu {
    display: flex;
    @media (min-width: 900px) {
      display: none;
    }
  }
  a {
    display: none;
    @media (min-width: 900px) {
      display: inline;
      text-decoration: none;
    }
  }
}
